body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 120%;
	background: #222;
	background: url('https://source.unsplash.com/1600x900/?landscape');
}

.card,
.modal {
	background: #000000d0;
	color: white;
	padding: 2em;
	border-radius: 30px;
	width: 100%;
	max-width: 420px;
	margin: 1em;
	height: 316px;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search button,
.close {
	margin: 0.5em;
	border-radius: 50%;
	border: none;
	height: 44px;
	width: 44px;
	outline: none;
	background: #7c7c7c2b;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
button:hover,
.details:hover,
.settings:hover {
	background: #7c7c7c6b;
}

.right {
	float: right;
}

.details {
	float: right;
	color: white;
	background: #7c7c7c2b;
	outline: none;
	border: none;
	border-radius: 20px;
	font-size: 0.8em;
	padding: 0.4em 1em;
	cursor: pointer;
}

input.search-bar {
	border: none;
	outline: none;
	padding: 0.4em 1em;
	border-radius: 24px;
	background: #7c7c7c2b;
	color: white;
	font-family: inherit;
	font-size: 105%;
	width: calc(100% - 100px);
}

h1 .temp {
	margin: 0;
	margin-bottom: 0.4em;
}

.description {
	text-transform: capitalize;
	margin-left: 8px;
}

.flex {
	display: flex;
	align-items: center;
}

.weather.loading {
	visibility: hidden;
	max-height: 20px;
	position: relative;
}

.weather.loading:after {
	visibility: visible;
	content: 'Loading...';
	color: white;
	position: absolute;
	top: 0;
	left: 20px;
}

.wind {
	display: inline-block;
}

.high,
.low,
.wind {
	margin: 0.8em 0.2em;
}

.modal {
	position: fixed;
	z-index: 2;
	background-color: #000;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 960px;
}

.settings {
	background: #7c7c7c2b;
	position: absolute;
	top: 18px;
	right: 2%;
	outline: none;
	border: none;
	border-radius: 50%;
	width: 43px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	height: 44px;
	width: 44px;
}

.menu {
	visibility: hidden;
	position: absolute;
	display: flex;
	top: 69px;
	right: 9px;
	width: 170px;
	background: white;
	padding: 5px;
	border-radius: 30px;
	flex-direction: column;
	transition: 0.5s ease-in-out;
	text-align: center;
}

.changeCity {
	outline: none;
	border: none;
	border-radius: 20px;
	width: 95%;
	background: white;
	cursor: pointer;
	padding: 5px 10px;
	margin: 3px auto;
}

.newCity {
	outline: none;
	border: none;
	border-radius: 20px;
	width: 70%;
	background: white;
	padding: 5px 15px;
	margin: 3px auto;
	border: 1px solid white;
}
.newCity:hover {
	border: 1px solid black;
}
